body { 

	background-color: #faf5ff;
	color: black;
	margin-top: 10px; 

 }

#searchdiv { 

	margin-top : 10px;
	margin-bottom: 10px;

 }

h1 {

	margin-top: 0;
	margin-bottom: 0;

}

 h5 {

 	text-align: left;

 }

li {

	list-style: none;
	text-align: left;
	padding-top: 2.5px; 
	padding-bottom: 2.5px;




}

#main-list {

	padding: 0 30px 0 30px;
	margin: 10px auto 0 auto;

}